.table {
  background-color: #f6f6f6;
  padding: 3rem;
  border: none;
  width: 100%;
  border-spacing: 0 15px;
}

.tableHeader {
  border-bottom: none;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
}

.cell {
  padding-left: 2rem;
  padding-right: 2rem;
}

.formHeader {
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 32px;
  text-align: left;
}

.formDiv {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.formLabel {
  width: 125px;
  text-align: right;
  padding-right: 5px;
}

.formFeedback {
  color: red;
  display: block;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
}

.hidden {
  display: none;
}

.hidden2 {
  visibility: hidden;
}

.addForm {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.addFormDiv {
  text-align: center;
}

.checkboxDiv {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #707070;
}
