.tableHeader {
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  text-align: left;
}

.formHeader {
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: center;
}

.table {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.tableCell {
  padding: 5px;
}

.formDiv {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.formLabel {
  width: 125px;
  text-align: right;
  padding-right: 5px;
}

.formFeedback {
  color: red;
  display: block;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
}

.hidden {
  display: none;
}

.hidden2 {
  visibility: hidden;
}

.addForm {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.addFormDiv {
  text-align: center;
}

.checkboxDiv {
  text-align: left;
}
