.inputContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 36px;
  width: 620px;
  margin-bottom: 48px;
}

.input {
  font-size: 24px;
}

.col1 {
  grid-column: 1;
}

.col2 {
  grid-column: 2;
}

.uploadContainer {
  position: absolute;
  right: 0;
  text-align: center;
}

.uploadImg {
  display: block;
  margin-bottom: 16px;
  height: 94px;
  width: 94px;
}

.uploadText {
  margin: 0;
  font-size: 12px;
  color: #0084F4;
  cursor: pointer;
}

.uploadText:hover {
  text-decoration: underline;
}

.workingHours {
  margin-bottom: 48px;
}

.workingHoursTitle {
  margin-bottom: 14px;
}

.addAvailabilityInput {
  display: inline-block;
  color: #0084F4;
  font-size: 12px;
  cursor: pointer;
}

.addAvailabilityInput:hover {
  text-decoration: underline;
}

.availabilityInput { 
  display: flex; 
  align-items: center; 
  margin: 8px 0;
}

.timeInput {
  font-size: initial;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 6px 10px;
}

.toText {
  font-size: 14px; 
  margin: 0 14px;
}

.repeatText {
  font-size: 17px;
  margin: 0 24px;
}

.day {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  margin: 0 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

.daySelected {
  background-color: black;
  color: white;
}

.submit {
  float: right;
}
