.inputContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 1.8rem;
  width: 31rem;
  margin-bottom: 2.4rem;
}

.input {
  font-size: 1.2rem;
}

.col1 {
  grid-column: 1;
}

.col2 {
  grid-column: 2;
}

.uploadContainer {
  position: absolute;
  right: 0;
  text-align: center;
}

.uploadImg {
  display: block;
  margin-bottom: 0.8rem;
  height: 4.7rem;
  width: 4.7rem;
}

.uploadText {
  margin: 0;
  font-size: 0.6rem;
  color: #0084f4;
  cursor: pointer;
}

.uploadText:hover {
  text-decoration: underline;
}

.workingHours {
  margin-bottom: 2.4rem;
}

.workingHoursTitle {
  margin-bottom: 0.7rem;
}

.addAvailabilityInput {
  display: inline-block;
  color: #0084f4;
  font-size: 0.6rem;
  cursor: pointer;
}

.addAvailabilityInput:hover {
  text-decoration: underline;
}

.availabilityInput {
  display: flex;
  align-items: center;
  margin: 0.4rem 0;
}

.timeInput {
  font-size: initial;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.3rem 0.5rem;
}

.toText {
  font-size: 0.7rem;
  margin: 0 0.7rem;
}

.repeatText {
  font-size: 0.85rem;
  margin: 0 1.2rem;
}

.day {
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  margin: 0 0.1rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.daySelected {
  background-color: black;
  color: white;
}

.submit {
  float: right;
}
