version: '3'

services:
  carriage:
    environment:
      - NODE_ENV=production
      - DEBUG=True
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - JWT_SECRET=${JWT_SECRET}
      - PUBLIC_VAPID_KEY=${PUBLIC_VAPID_KEY}
      - PRIVATE_VAPID_KEY=${PRIVATE_VAPID_KEY}
      - WEB_PUSH_CONTACT=${WEB_PUSH_CONTACT}
      - IOS_DRIVER_ARN=${IOS_DRIVER_ARN}
      - IOS_RIDER_ARN=${IOS_RIDER_ARN}
      - ANDROID_ARN=${ANDROID_ARN}
      - HOSTNAME=${HOSTNAME}
      - USE_HOSTNAME=${USE_HOSTNAME}
      - DOMAIN=${DOMAIN}
      - OAUTH_CLIENT_ID=${OAUTH_CLIENT_ID}
      - OAUTH_CLIENT_SECRET=${OAUTH_CLIENT_SECRET}
    build:
      context: .
      args:
        - REACT_APP_SERVER_URL=${REACT_APP_SERVER_URL}
        - REACT_APP_CLIENT_ID=${REACT_APP_CLIENT_ID}
        - REACT_APP_PUBLIC_VAPID_KEY=${REACT_APP_PUBLIC_VAPID_KEY}
        - REACT_APP_ENCRYPTION_KEY=${REACT_APP_ENCRYPTION_KEY}
        - REACT_APP_GOOGLE_MAPS_API_KEY=${REACT_APP_GOOGLE_MAPS_API_KEY}
        - REACT_APP_GOOGLE_MAPS_MAP_ID=${REACT_APP_GOOGLE_MAPS_MAP_ID}
    ports:
      - '3001:3001'
    image: ghcr.io/cornell-dti/carriage-web:${IMAGE_TAG:-latest}
    restart: always
