.header{
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 32px;
  text-align: left;
}

.pageContainer{
  margin-top: 1rem;
  margin-left: 32px;
}

.pageTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.margin3{
  margin: 3rem;
}
