.header {
  margin-left: 2rem;
  text-align: left;
  font-size: 28px;
}

.pageContainer {
  margin-top: 1rem;
  margin-left: 2rem;
}

.pageTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.rightSection {
  margin-right: 3rem;
  display: flex;
  align-items: center;
}

.rightSection > div {
  margin-left: 1.5rem;
}
