.collapsible {
  width: 100%;
}
.collapsibleContent {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.banner {
  display: flex;
  width: 100%;
  padding: 0.9375rem 2.25rem;
}

.title {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0;
}

.icon {
  margin-left: 0.75rem;
}
