.collapsible {
  display: inline-block;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 0.4rem;
  margin-bottom: 1.25rem;
}

.banner {
  width: 100%;
  padding: 0.3rem 0 0.3rem 2.5rem;
}

.title {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
}

.icon {
  margin-left: 2%;
  transform: translate(0, 15%);
}

.contentContainer {
  display: inline-block;
  width: 100%;
  background-color: #ffffff;
  padding: 0.5rem 0 0.5rem 4rem;
}
