.card {
  width: 100%;
  position: relative;
  height: min-content;
  min-width: 20rem;
  background: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: #e0e0e0 1px solid;
  font-size: 1rem;
  gap: 1rem;
}

.statusContainer {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.statusBadge {
  width: 8rem;
  height: 1.75rem;
  border-radius: 0.1275rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.statusRequested,
.statusScheduled {
  color: #808080;
  background-color: #f5f5f5;
}

.statusCanceled {
  background-color: #fff0f0;
  color: #c10000;
}

.contentWrapper {
  width: 100%;
  height: min-content;
  display: flex;
  text-wrap: nowrap;
}

.contentWrapperExpanded {
  flex-direction: column;
  justify-content: normal;
  gap: 1rem;
}

.contentWrapperCollapsed {
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.infoSection {
  width: 100%;
  height: min-content;
  display: flex;
}

.column {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.rowSecondary {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #808080;
}

.labelWrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 5rem;
}

.labelText {
  font-size: 0.75rem;
}

.timeWrapper {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.timeMeridiem {
  font-size: 0.75rem;
  color: #808080;
  font-weight: lighter;
}

.mapContainer {
  width: 100%;
  height: min-content;
  display: flex;
  gap: 0.5rem;
  border-radius: 0.25rem;
  overflow: hidden;
  border: #e0e0e0 1px solid;
}

.map {
  width: 100%;
  height: 12rem;
  border-radius: 0.25rem;
}

.buttonContainer {
  width: 100%;
  height: min-content;
  display: flex;
  gap: 0.5rem;
}

.detailsButton {
  background-color: white;
  width: 8rem;
}

.flagIcon {
  color: #666;
  width: 3rem;
  height: 3rem;
}

@media (max-width: 576px) {
  .infoSection {
    flex-direction: column;
    gap: 1rem;
  }

  .labelWrapper {
    gap: 0.5rem;
    width: 50%;
  }
}
