body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  color: black;
  line-height: 1.6;
  overflow-x: hidden;
}

p {
  margin: 0;
}

input,
button {
  font-family: 'Inter', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

a.skip-main {
  left: -999em;
  position: absolute;
  padding: 0.25rem 0.5rem;
  z-index: -999;
}

a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color:#000;
  left: 0;
  z-index: 999;
}
