@import 'tailwindcss';

body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  color: black;
  line-height: 1.6;
  overflow-x: hidden;
}

p {
  margin: 0;
}

input,
button,
select,
option {
  font-family: 'Inter', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

a.skip-main {
  left: -999em;
  position: absolute;
  padding: 0.25rem 0.5rem;
  z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
  color: #fff;
  background-color: #000;
  left: 0;
  z-index: 999;
}

#main {
  flex: 1;
}

/* Google Maps marker cluster styles */
.gm-style .cluster {
  background: #1976d2;
  border-radius: 50%;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cluster span {
  position: relative;
  top: -2px;
}
