@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  color: black;
  line-height: 1.6;
}

p {
  margin: 0;
}

input,
button {
  font-family: 'Roboto', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}
