body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  color: black;
  line-height: 1.6;
  overflow-x: hidden;
}

p {
  margin: 0;
}

input, button, select, option {
  font-family: 'Inter', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}
