.button {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 1rem;
  text-wrap-mode: nowrap;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.buttonSecondary {
  border: #ddd 1px solid;
  background: white;
  transition: background 0.1s;
}

.buttonSecondary:hover {
  background: #fafafa;
}

.buttonSecondary:active {
  background: #eaeaea;
}

.buttonPrimary {
  border: #303030 1px solid;
  background-color: #000;
  color: #fff;
  transition: all 0.1s;
}

.buttonPrimary:hover {
  background-color: #333;
  color: #fff;
}

.buttonPrimary:active {
  background-color: #555;
  color: #fff;
}
