.read-btn {
  font-size: 1.1em;
  text-decoration: none;
  color: black;
  border: black 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.read-btn:hover {
  background: black;
  color: white;
}