.tableHeader{
  margin-bottom: 5px;
}

.formHeader {
  margin-top: 30px;
  margin-bottom: 5px;
}

.driverTable {
  border: 1px solid black;
}

.tableHeader {
  border-bottom: 1px solid black;
}

.tableCell{
  padding:5px;
}

.formDiv{
  display: flex;
  flex-direction: row;
}

.formLabel{
  width: 115px;
  text-align: right;
  padding-right: 5px;
}

.formFeedback{
  color: red;
  display: block;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
}

.hidden{
  display:none;
}