.tab {
  display: inline;
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  color: #848484;
  padding: 0 0.6rem 0.25rem 0.6rem;
}

.tab:hover {
  cursor: pointer;
}

.current {
  color: black;
  border-bottom: solid black 4px;
}

.underline {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #848484;
}

.rightSection {
  display: flex;
  align-items: center;
}
