.inputContainer > input,
.inputContainer > p {
  display: block;
  margin-bottom: 0.5rem;
}

.input {
  font-size: 1.5rem;
  min-height: 40px;
  width: 280px;
}

.errorMsg {
  color: #eb0023;
  font-size: 0.8rem;
}

.styledSelect {
  padding: 0.2rem;
}

.submit {
  float: right;
}

.inputContainer {
  min-height: 40px;
  width: 280px;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 0.75rem;
}