.sidebarLinks {
  text-decoration: none;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 100%;
  min-height: 100vh;
  align-items: stretch;
}

.sidebar {
  background-color: white;
  width: 6rem;
  min-height: 100vh;
  position: fixed;
  box-shadow: 0 0.25rem 100px rgba(0, 0, 0, 0.06);
}

.icon {
  cursor: pointer;
  margin: 1.75rem 1.625rem;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #ebeaea;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.circle:not(.selected):hover {
  background-color: #d3d2d2;
}

.circle>img {
  width: 50%;
}

.selected {
  background-color: black;
}

.selected>img {
  filter: invert(100%);
}

.caption {
  color: black;
  font-weight: 700;
}

.logout {
  color: #0084F4;
  cursor: pointer;
  position: absolute;
  text-align: center;
  bottom: 1.75rem;
  width: 100%;

  font-family: SF Pro Display;
  font-weight: 500;
  font-size: 17px;
}

.profile {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}


.content {
  width: calc(100% - 6rem);
  height: 100%;
  min-height: 100vh;
  position: absolute;
  left: 6rem;
  padding: 0rem 0rem;
}