.sidebarLinks {
  text-decoration: none;
  text-align: center;
  margin-bottom: 1.75rem;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 100%;
  min-height: 100vh;
  align-items: stretch;
}

.sidebar {
  display: flex;
  background-color: white;
  width: 6rem;
  min-height: 100vh;
  position: fixed;
  box-shadow: 0 0.25rem 100px rgba(0, 0, 0, 0.06);
  justify-content: space-between;
  flex-direction: column;
  z-index: 100;
  padding: 1.75rem 0;
}

.icon {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #ebeaea;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle:not(.selected):hover {
  background-color: #d3d2d2;
}

.circle > img {
  width: 50%;
}

.selected {
  background-color: black;
}

.selected > img {
  filter: invert(100%);
}

.caption {
  color: black;
  font-weight: 600;
  font-size: 0.875rem;
}

.logout {
  text-align: center;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.12));
}

.logoutLink {
  cursor: pointer;
  font-weight: 600;
  font-size: 0.875rem;
  text-decoration: none;
  color: #0075db;
  text-align: center;
  display: block;
  margin: auto;
  background-color: Transparent;
  border: none;
  outline: none;
}
.logoutLink:focus {
  outline: 3px solid #0075db;
}
.profile {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 6rem);
  height: 100%;
  min-height: 100vh;
  position: absolute;
  left: 6rem;
  padding: 0rem 0rem;
}
@media screen and (max-width: 768px) {
  .content {
    width: 100%;
    height: calc(100%-6rem);
    left: 0;
    top: 6rem;
  }
  .sidebar {
    height: 6rem;
    min-width: 100%;
    width: 100%;
    min-height: 6rem;
    flex-direction: row;
    padding: 0 1.75rem;
  }
  .menuItems {
    display: flex;
    flex-direction: row;
  }
  .sidebarLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    margin-right: 1.75rem;
  }
  .logout {
    display: flex;
    width: initial;
    margin: 0;
  }
  .icon {
    margin: 0;
  }
}
