.toast {
  position: fixed;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 38.5rem;
  height: 25.125rem;
  padding: 1.5rem 1.5rem;
  box-shadow: 4px 6px 30px 5px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.background {
  position: fixed;
  background-color: rgba(13, 13, 13, 0.6);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
}
.toastContent {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.toasttext {
  color: #00c48c;
  text-align: center;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1.5rem;
}

.successToast {
  background-color: white;
}

.errorToast {
  background-color: #ff0000;
}

.continueButton {
  background-color: #00c48c;
  border: none;
  border-radius: 9px;
  padding: 0.4rem 2.5rem;
  margin-bottom: 2.5rem;
}

.continueText {
  color: #fff;
  text-align: center;
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.closeButton {
  background-color: white;
  border: none;
  align-self: flex-end;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  margin-bottom: 1rem;
}
