.label {
  margin-right: 0.5rem;
}

.input {
  border: none;
  outline: none;
  border-radius: 0.25rem;
}

.textInput,
.numberInput {
  font-size: 1.063rem;
  padding: 0.25rem;
}

.timeInput,
.dateInput {
  font-size: 1.25rem;
  padding: 0.25rem;
}

.timeInput::-webkit-calendar-picker-indicator,
.dateInput::-webkit-calendar-picker-indicator {
  height: 1.125rem;
  width: 1.125rem;
}

.input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.lgBtn {
  border-radius: 0.5rem;
  min-width: 6.563rem;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.9375rem;
  outline: none;
  cursor: pointer;
}

.smBtn {
  border-radius: 0.625rem;
  min-width: 6.563rem;
  padding: 0.375rem 0.75rem;
  text-align: center;
  font-size: 0.875rem;
  outline: none;
  cursor: pointer;
}

.primaryBtn {
  background-color: black;
  color: white;
  border: none;
}

.secondaryBtn {
  background-color: white;
  border: 0.063rem solid #000000;
  box-sizing: border-box;
}
