.label {
  margin-right: 0.4rem;
}

.input {
  border: none;
  outline: none;
  border-radius: 0.2rem;
}

.textInput,
.numberInput {
  font-size: 0.85rem;
  padding: 0.2rem;
}

.timeInput,
.dateInput {
  font-size: 1rem;
  padding: 0.2rem;
}

.timeInput::-webkit-calendar-picker-indicator,
.dateInput::-webkit-calendar-picker-indicator {
  height: 0.9rem;
  width: 0.9rem;
}

.input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.lgBtn {
  border-radius: 0.4rem;
  min-width: 6rem;
  padding: 0.5rem 0.9rem;
  text-align: center;
  font-size: 0.85rem;
  outline: none;
  cursor: pointer;
}

.smBtn {
  border-radius: 0.5rem;
  min-width: 5.25rem;
  padding: 0.4rem 0.8rem;
  text-align: center;
  font-size: 0.7rem;
  outline: none;
  cursor: pointer;
}

.primaryBtn {
  background-color: black;
  color: white;
  border: none;
}

.secondaryBtn {
  background-color: white;
  border: 0.05rem solid #000000;
  box-sizing: border-box;
}
