.footer {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.black1 {
  flex: 10;
  background-color: black;
}

.white {
  flex: 5;
  background-color: white;
}

.black2 {
  flex: 1;
  background-color: black;
}