.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 62px 100px;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 10;
}

.headerLogoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.headerLogo {
  height: 50px;
}

.headerTitle {
  color: white;
  font-size: 15px;
  margin-top: 4px;
}

.tosButton {
  width: 200px;
  height: 50px;
  border: 0;
  background-color: #ff647c;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont;
}

.home {
  background: black;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.firstPage {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.main {
  /* max-width: 850px;
  min-height: 550px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 190px;
  flex-shrink: 1;
  width: 50%;
  box-sizing: border-box;
}

.mainTitle {
  font-size: 96px;
  font-weight: 700;
  color: white;
  margin-bottom: -10px;
  font-family: -apple-system, BlinkMacSystemFont;
}

.mainSubtext {
  font-size: 24px;
  font-weight: 500;
  color: white;
  margin-bottom: 32px;
  font-family: -apple-system, BlinkMacSystemFont;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctownGraphicContainer {
  display: flex;
  position: relative;
  flex-shrink: 1;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  /* height: auto; */
  /* overflow: hidden; */
}

.ctownGraphic {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20%;
  transform: scale(1.15);
  left: 13%;
}

@media (max-width: 400px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .main {
    flex-direction: column;
  }
  .left {
    border-radius: 16px 16px 0 0;
  }
  .right {
    border-radius: 0 0 16px 16px;
  }
}

@media (max-height: 600px) {
  .main {
    min-height: 0px;
  }
}

.heading {
  width: 100%;
  font-size: 32;
  font-weight: bold;
}

.input {
  width: 100%;
  outline: 0;
  background: none;
  border-width: 0 0 1px;
  margin-bottom: 40px;
}

.footer {
  max-width: 400px;
}
