.home {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./campus.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0 1.25rem;
  background-attachment: scroll;
  overflow-x: hidden;
  width: 100%;
}

.main {
  border: 1px solid black;
  border-radius: 16px;
  max-width: 850px;
  height: 550px;
  display: flex;
  flex-grow: 1;
  margin-top: 7.5rem;
}

.tosButtonContainer {
  position: absolute;
  top: 20px;
  right: 20px;
}

.tosButton {
  width: 11rem;
  height: 2.5rem;
  border: 0;
  background-color: white;
  color: black;
  border-radius: 0.625rem;
  cursor: pointer;
  font-size: 1rem;
}

.tosButton:hover {
  background-color: #e1e1e1;
}

.left {
  border-radius: 16px 0 0 16px;
  background: #191919;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.spacing_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.dti_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  left: 50%;
}

.dti_logo {
  width: 145px;
  height: 30px;
  left: 46px;
  top: 14px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_item {
  margin-left: 10px;
  margin-right: 10px;
}

.title {
  font-size: 42px;
  font-weight: 600;
  color: white;
  margin-top: 16px;
}

.right {
  border-radius: 0 16px 16px 0;
  background: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 8px;
  position: relative;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customShape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  height: 16%; /*ensures correct layering*/
  z-index: 10;
}

.customShape svg {
  position: absolute;
  display: block;
  width: calc(142% + 1.3px);
}

.shapeFill {
  fill: white;
}

.information {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.adminInfo {
  padding: 9rem 8rem 9rem 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 13rem;
  justify-content: center;
}

.adminInfo p {
  font-size: 40px;
  min-width: 30%;
}

.studentInfo {
  background: rgb(25, 25, 25);
  padding: 5rem 8rem 9rem 8rem;
  display: flex;
  flex-direction: row;
  column-gap: 9rem;
  align-items: center;
  justify-content: center;
}

.studentInfo p {
  color: white;
  font-size: 40px;
  min-width: 30%;
}

.studentImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  column-gap: 4rem;
}

.bottomLaptop {
  width: 670px;
  height: auto;
}

.phone {
  width: 220px;
  height: 100%;
}

@media (max-width: 750px) {
  .main {
    flex-direction: column;
    margin-top: -10rem; /* spacing from top */
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .left {
    /*top for vertical media query*/
    border-radius: 16px 16px 0 0;
    margin-top: 0px;
  }
  .right {
    /* bottom for vertical media query*/
    border-radius: 0 0 16px 16px;
    display: flex;
    flex-direction: column;
  }

  .container {
    flex-direction: column;
    margin-top: 0px;
  }

  .home {
    height: 1250px;
    width: 160%;
    align-items: center;
  }

  .adminInfo {
    padding: 9rem 8rem 9rem 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 13rem;
    justify-content: right;
  }

  .information {
    width: 160%;
  }

  .studentInfo {
    width: 160%;
  }

  .studentImgContainer {
    transform: scale(0.75);
  }

  .topLaptop {
    transform: scale(0.75);
  }

  .dti_container {
    margin-left: 300px;
  }

  .customShape {
    margin-bottom: 10px;
    height: 300px; /*ensures correct layering*/
  }
}

@media (max-width: 1914px) {
  .home {
    height: 1000px;
  }
  .customShape {
    margin-bottom: -4px; /*ensures correct layering*/
  }
}

@media (max-width: 360px) {
  .home {
    width: 190%;
  }

  .information {
    width: 190%;
  }
  .studentInfo {
    width: 190%;
  }

  .dti_container {
    margin-left: auto;
  }

  .customShape {
    margin-bottom: -4px; /*ensures correct layering*/
  }
}

@media (max-width: 400px) {
  .home {
    width: 180%;
  }

  .information {
    width: 180%;
  }
  .studentInfo {
    width: 180%;
  }

  .dti_container {
    margin-left: 300px;
  }

  .customShape {
    margin-bottom: -10px; /*ensures correct layering*/
  }

  .main {
    margin-top: 0.75rem;
  }
}

@media (min-width: 550px) and (max-width: 750px) {
  .dti_container {
    margin-left: 395px;
  }
}

@media (max-width: 1425px) {
  .studentInfo {
    flex-direction: column;
    row-gap: 3rem;
    padding: 5rem 6rem 5rem 6rem;
  }

  .studentInfo p {
    margin-top: 5rem;
  }
}

@media (max-width: 1230px) {
  .adminInfo {
    flex-direction: column;
    row-gap: 3rem;
    padding: 6rem 6rem 6rem 6rem;
  }

  .adminInfo p {
    max-width: 70%;
  }
}

@media (min-width: 400px) and (max-width: 750px) {
  .main {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .home {
    height: 1150px;
  }
}

@media (max-width: 900px) {
  .main {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 1230px) and (max-width: 1382px) {
  .home {
    width: 120%;
  }

  .dti_container {
    margin-left: 275px;
  }

  .information {
    width: 120%;
  }
  .studentInfo {
    width: 120%;
  }
}

@media (max-width: 1000px) {
  .studentInfo {
    padding: 6rem 3rem 6rem 3rem;
  }

  .studentImgContainer {
    column-gap: 1rem;
  }

  .studentInfo p {
    font-size: 20px;
    max-width: 80%;
  }

  .bottomLaptop {
    width: 320px;
    height: auto;
  }

  .phone {
    width: 120px;
    height: auto;
  }

  .studentInfo p {
    font-size: 30px;
    margin-top: 2rem;
  }

  .topLaptop {
    width: 470px;
    height: auto;
  }
}

@media (max-height: 600px) {
  .main {
    min-height: 0px;
  }
}

.input {
  width: 100%;
  outline: 0;
  background: none;
  border-width: 0 0 1px;
  margin-bottom: 40px;
}

.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  padding: 0.8% 0% 0.8% 0%;
}

.dti {
  width: 14rem;
  height: auto;
}
