.home {
  background-image: url("./showcase.jpg");
  background-size: cover;
  background-size: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
}

.title,
.subtitle {
  margin: 0;
}

.footer {
  padding: 1rem;
  background: black;
  color: white;
  text-align: center;
}

.readBtn {
  font-size: 1.1em;
  text-decoration: none;
  color: black;
  border: black 0.05rem solid;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.readBtn:hover {
  background: black;
  color: white;
}
