.cell{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.passInfo{
  background-color: #fff;
}

.firstCell{
  border-radius: 15px 0 0 15px;
}

.lastCell{
  border-radius: 0 15px 15px 0;
}

.tag{
  border-radius: 10px;
  padding: 5px;
}
.ctown{
  background-color: #D5F2EA;
  
}

.west{
  background-color: #FFD8DE;
}