.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  margin-top: 24px;
  font-size: 18px;
  line-height: 21px;
  opacity: .7;
  color: #000000;
}