.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 0px 10px gray;
  margin: 8px;
  /* float: right; */
  /* margin-right: 50px; */
  padding: 16px;
  padding-bottom: 10px;
  /* padding-top: 10px; */
  width: fit-content;
  height: fit-content;
}
p {
  padding: 0px 0px 0px 0px;
}
.studentBtn {
  background: white;
  margin-right: 50px;
}
.adminBtn {
  background: black;
  color: white;
}
.btn:hover {
  cursor: pointer;
}

.heading {
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
}

.icon {
  height: 40px;
  width: 40px;
  margin: 2px;
}
