.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 12px;
  background: white;
  box-shadow: 0px 0px 10px gray;
  margin: 8px;
  padding: 16px;
}

.btn:hover {
  cursor: pointer;
}

.heading {
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
}

.icon {
  height: 45px;
  width: 45px;
  margin: 2px;
}
