.dayBox {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
  }

.day {
    border-radius: 40%;
    height: 1.25rem;
    width: 1.25rem;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    margin: 0 0.125rem;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .day:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
  }
  
  .daySelected {
    background-color: black;
    color: white;
  }
  
  .daySelected:focus {
    background-color: black; 
  }