.titleText {
  margin: 1rem 0;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  color: black;
}

.driverRow {
  height: 3.063rem;
  display: flex;
  align-items: center;
}

.driverRow:hover {
  background: rgba(240, 240, 240, 1);
  cursor: pointer;
}

.driverName {
  font-size: 1.063rem;
  color: #817e7e;
  font-weight: bold;
}

.driverImage {
  margin: 0.438rem 0.875rem 0.375rem 1.688rem;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
}

.modal {
  position: absolute;
  margin-top: -2rem;
  right: 1.25rem;
  padding-bottom: 1.875rem;
  width: 15.875rem;
  background-color: white;
  z-index: 1010;
  box-shadow: 0 0.25rem 0.938rem 0 rgba(0, 0, 0, 0.1);
  cursor: default;
}
