.modal {
  width: 16rem;
}
.modalText {
  font-size: 1.12rem;
  text-align: center;
}

.buttonContainer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.redButton {
  background-color: #eb0023;
  border: 0.063rem solid #000000;
  box-sizing: border-box;
  border: none;
  margin: auto;
}

.blackButton {
  background-color: #000000;
  border: 0.063rem solid #000000;
  box-sizing: border-box;
  border: none;
  margin: auto;
}
