.background {
  position: fixed;
  background-color: rgba(13, 13, 13, 0.6);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem 2.25rem;
  border-radius: 1rem;
  z-index: 1010;

  /* This fixes the height and width of every modal, which may be necessary. However, location, rider, employee modals have different dimensions, which wil pose a problem later. */
  height: 386px;
  width: 616px;
}

.title {
  font-size: 1.75rem;
  margin: 0;
}

.closeBtn {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  margin-left: 0.75rem;
}

.closeBtn:active {
  outline: 3px solid black;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page {
  margin: 0.75rem 0;
  position: relative;
}

.pageIndicators {
  display: flex;
  justify-content: center;
}

.indicator {
  height: 0.375rem;
  width: 0.375rem;
  margin: 0 0.25rem;
  border-radius: 50%;
  display: inline-block;
}

@media screen and (max-height: 600px) {
  .modal {
    max-width: 100%;
    max-height: 100%;
    overflow-y: scroll;
  }
  .page {
    max-width: 100%;
    display: block;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    max-width: 100%;
    max-height: 100%;
    overflow-y: scroll;
  }
  .page {
    max-width: 100%;
    display: block;
    margin: 0;
  }
}
