.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%; 
}

.inputContainer {
  margin-bottom: 1.5rem;
}

.rideTime {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.gridCSmall1 {
  grid-column: 1 / span 2;
}

.gridCSmall2 {
  grid-column: 3 / span 2;
}

.gridCSmall3 {
  grid-column: 5 / span 2;
}

.gridCBig1 {
  grid-column: 1 / span 3;
}
.gridCBig2 {
  grid-column: 4 / span 3;
}
.gridCAll {
  grid-column: 1 / span 6;
}

.duration {
  font-size: 0.9rem;
}

.to {
  font-size: 0.9rem;
  grid-column: 3 / span 1;
  margin-left: 70%;
  margin-top: 5%;
}

.end {
  grid-column: 4 / span 2;
}

.gridR1 {
  grid-row: 1;
}
.gridR2 {
  grid-row: 2;
}
.gridR3 {
  grid-row: 3;
}

.error {
  color: #EB0023;
  font-size: 0.8rem;
  padding: 0.25rem;
}

.riderDate {
  font-size: 1rem !important;
}

.firstRow {
  max-width: 90%;
}

.lastRow {
  display: flex;
}

.to {
  margin: 0 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.submit {
  margin-left: 1.5rem;
}

.editIcon {
  width: 4rem;
  height: auto;
}

.editRiderButton {
  margin: 0;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}

@media screen and (max-width: 1092px){
  .form{
    display: block; 
    max-width: 100%; 
  }

  .rideTime{
    display: block; 
  }
  .label{
    font-weight: bold; 
  }
  .lastRow {
    display: block;
  }
}
