.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  padding: 0px;
}

.flexInputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.flexRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  border: 0px;
}

.flexItems {
  border: 0rem;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0 1rem;
}

.flexNeeds {
  border-radius: 0.625rem;
  background: #eae9e9;
}

.flexDate {
  border-radius: 0.25rem;
  background: rgba(196, 196, 196, 0.15);
}

.hiddenFlex {
  display: flex;
  flex-direction: row;
  color: #979797;
}

.hiddenFlexInput {
  border: 2px solid #979797;
  padding: 0.25rem;
}

.flexTo {
  display: flex;
  align-items: center;
}

.duration {
  margin: 0 1rem;
}

.checkboxDropdownList {
  position: absolute;
  z-index: 1020;
  list-style: none;
  background-color: #eae9e9;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.35);
  padding: 1rem;
  border-radius: 1.25rem;
}

.next {
  background: none;
  border: 2px solid #979797;
  color: black;
  border-radius: 1.625rem;
  float: right;
  margin-top: 1rem;
}

.dropdownItems {
  display: flex;
  align-items: center;
}

.dropdownLabels {
  padding-left: 0.5rem;
}

.arrow {
  margin-left: 4rem;
  margin-right: 0.5rem;
}

.dropdownHead {
  display: flex;
  font-size: 0.9rem;
}

.to {
  display: flex;
  align-items: center;
}

.error {
  color: #eb0023;
  font-size: 0.8rem;
  padding: 0.25rem;
  margin: 0 1rem;
}

.firstRow {
  max-width: 90%;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.submit {
  margin-left: 1.5rem;
}

.editIcon {
  width: 4rem;
  height: auto;
}

.editRiderButton {
  margin: 0;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}

@media screen and (max-width: 1092px) {
  .form {
    display: block;
    max-width: 100%;
  }

  .rideTime {
    display: block;
  }
  .label {
    font-weight: bold;
  }
  .lastRow {
    display: block;
  }
}
