@import './variables';

.rbc-addons-dnd {
  .rbc-addons-dnd-row-body {
    position: relative;
  }
  .rbc-addons-dnd-drag-row {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .rbc-addons-dnd-over {
    background-color: rgba(
      red($date-selection-bg-color),
      green($date-selection-bg-color),
      blue($date-selection-bg-color),
      0.3
    );
  }

  .rbc-event {
    transition: opacity 150ms;

    &:hover {
      .rbc-addons-dnd-resize-ns-icon,
      .rbc-addons-dnd-resize-ew-icon {
        display: block;
      }
    }
  }

  .rbc-addons-dnd-dragged-event {
    opacity: 0;
  }

  &.rbc-addons-dnd-is-dragging
    .rbc-event:not(.rbc-addons-dnd-dragged-event):not(.rbc-addons-dnd-drag-preview) {
    opacity: 0.5;
  }

  .rbc-addons-dnd-resizable {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
