.heading {
  margin-top: 1.875rem;
  margin-bottom: 0.313rem;
  margin-left: 2rem;
}

.calendar_container {
  padding-left: 2rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 21.875rem;
}

.left {
  width: calc(100% - 3.125rem);
  height: 21.875rem;
}

.right {
  width: 3.125rem;
  display: flex;
  height: 21.875rem;
  z-index: 100;
  position: absolute;
  left: calc(100% - 3.125rem);
  justify-content: center;
  align-items: center;
}

.long {
  height: 50rem;
}

.pad {
  padding: 2.5rem;
}

.uparrow {
  border: solid black;
  border-width: 0 0.19rem 0.19rem 0;
  display: inline-block;
  padding: 0.19rem;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.downarrow {
  border: solid black;
  border-width: 0 0.19rem 0.19rem 0;
  display: inline-block;
  padding: 0.19rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.btn {
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  display: block;
  margin: auto;
  width: 1.56rem;
  height: 1.56rem;
  outline: none;
}

.btn:hover {
  border-radius: 50%;
  background-color: lightgray;
}
.btn:focus{
  border-radius: 50%;
  background-color: lightgray;
}
.btn:disabled {
  visibility: hidden;
}

.view_state {
  padding: 0.313rem;
  margin-right: 3.125rem;
  border: none;
  background-color: white;
  float: right;
}

.view_state:hover {
  text-decoration: underline;
}
