body{
  padding-left:25px;
}

h1{
  margin-bottom: 5px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 5px;
}

table {
  border: 1px solid black;
}

th {
  border-bottom: 1px solid black;
}

td{
  padding:5px;
}