.root {
  display: flex;
  align-items: center;
  border: 1px solid pink;
  margin-left: 32px;
}

.customInput {
  width: 200px;
  background-color: black;
  color: white;
  margin-top: 0px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
}

.svg {
  height: 12px;
}

.justify {
  margin-bottom: 5px;
  height: 45px;
  display: flex;
  justify-content: center;
}

.btn {
  background-color: black;
  color: white;
  border-radius: 50%;
  border: none;
  margin: 0px 12px;
}

.btn2 {
  background-color: white;
  color: black;
  margin: 10px 15px;
  border-radius: 12px;
  border: none;
  width: 95px;
  height: 31px;
  font-size: 14;
}

.month {
  width: 160px;
  line-height: 45px;
  font-size: 20px;
}

.active {
  background-color: #00c48c;
  color: white;
}

.primary {
  height: 1em;
  color: #00c48c;
}

.space {
  width: 0.5em;
}
