.dateFilter{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-bottom: 1rem;
}
.box{
    display: flex; 
    flex-direction: column;
    margin: 0 1rem; 

}
.datePickerLabel{
    font-weight: bold; 
    font-size: 1.063rem;
}
.dropdown{
    border-radius: 0.5em; 
    min-width: 7.5 rem; 
    padding: 0.425rem 1.125rem;
    text-align: center;
    font-size: 1.063rem;
}

.yearDropdown{
    background-color: black;
    color: white; 

}

.yearDropdown:focus{
    background-color: white; 
    color: black; 
}

.monthDropdown{
    background-color: white; 
    color: black;
}

.dateRangeContainer {
    display: flex; 
    align-items: center;
}
.datePicker1 {
    padding: 0 1.125rem 0 0;
}
.datePicker2 {
    padding: 0 1.125rem 0 1.125rem;
}

.dateCalendar {
    border-radius: 0.5rem;
}
