.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: #eb0023;
  font-size: 0.7rem;
}

.inputContainer {
  margin-bottom: 1.5rem;
}

.btnContainer {
  display: flex;
}

.btnContainer > button {
  margin: 0 0.75rem;
}

.rideTime {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.col1 {
  grid-column: 1;
}

.col2 {
  grid-column: 2;
}

.colSpan {
  grid-column: 1/-1;
}

.select {
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.25rem;
  background-color: #eae9e9;
}

.day {
  border-radius: 40%;
  height: 1.25rem;
  width: 1.25rem;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0 0.125rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.day:focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
}

.daySelected {
  background-color: black;
  color: white;
}

.drivers {
  display: flex;
  flex-direction: column;
  height: 15rem;
  overflow-y: auto;
  justify-content: flex-start;
  padding: 0.5rem;
  border-radius: 8px;
}

.driver {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.625rem;
  height: 5rem;
  background-color: #f2f2f2;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.driverPhoto {
  height: 20px;
  width: 20px;
  border-radius: 100%;
}
.selectButton {
  background-color: #00c48c;
}
.selectedButton {
  background-color: #f2f2f2;
  border: 1px solid black;
  color: black;
}
.driverLabel {
  margin: 0;
}

.driverRadio {
  margin: 0;
}

.driverRadio:focus {
  outline: 3px solid black;
}

.rider {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.name {
  grid-column: 1/3;
  grid-row: 1;
}

.nameInput {
  font-size: 1.5rem;
  width: 100%;
}

.label {
  display: block;
}
