.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: #eb0023;
  font-size: 0.8rem;
}

.inputContainer {
  margin-bottom: 1.5rem;
}

.btnContainer {
  display: flex;
}

.btnContainer > button {
  margin: 0 0.75rem;
}

.rideTime {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.date {
  grid-column: 1/3;
  grid-row: 1;
}

.pickupTime {
  grid-column: 1;
}

.dropoffTime {
  grid-column: 2;
}

.drivers {
  display: flex;
  flex-wrap: wrap;
  max-width: 30rem;
  justify-content: center;
}

.driver {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.625rem;
}

.driverLabel {
  margin: 0;
}

.driverRadio {
  margin: 0;
}

.driverRadio:focus {
  outline: 3px solid black;
}

.rider {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.name {
  grid-column: 1/3;
  grid-row: 1;
}

.nameInput {
  font-size: 1.5rem;
  width: 100%;
}

.label {
  display: block;
}
