.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  height: 38rem;
  padding: 1rem 2rem;
  gap: 2rem;
}

.timeText {
  word-break: break-word;
  white-space: pre-wrap;
}

.link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.filtersContainer {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}
