.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  min-height: 10rem;
  margin-top: 1rem;
}

.timeText {
  word-break: break-word;
  white-space: pre-wrap;
}

.link {
  margin: 0 1.56rem 1.56rem;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.filtersContainer {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}
