.card {
  display: inline-block;
  width: 13.75rem;
  background-color: white;
  border-radius: 0.4rem;
  margin: 0 1.25rem 1.25rem;
  overflow: hidden;
  box-shadow: 0 0.2rem 1.75rem rgba(0, 0, 0, 0.1);
}

.image {
  background-color: #dddddd;
  height: 7.5rem;
}

.contentContainer {
  padding: 0.95rem 0.8rem 1.45rem;
}

.titleContainer {
  margin-left: -0.72rem;
  padding: 0.2rem 0 0.2rem 0.65rem;
  border-left: 0.14rem solid black;
}

.name {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
}

.netId {
  display: inline-block;
  font-size: 0.75rem;
  opacity: 0.5;
  margin-left: 0.2rem;
}

.infoContainer {
  display: flex;
  align-items: center;
}

.icon {
  width: 0.8rem;
  margin-right: 0.8rem;
}

.infoContainer p {
  font-size: 0.75rem;
  opacity: 0.7;
}
