.card {
  display: inline-block;
  width: 17.2rem;
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 2.2rem rgba(0, 0, 0, 0.1);
}

.image {
  background-color: #dddddd;
  object-fit: cover;
  width: 100%;
  height: 9.38rem;
}

.contentContainer {
  padding: 1.2rem 1rem 1.81rem;
}

.titleContainer {
  margin-left: -1rem;
  padding: 0.25rem 0 0.25rem 0.81rem;
  border-left: 0.19rem solid black;
}

.name {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bold;
}

.netId {
  display: inline-block;
  font-size: 0.938rem;
  opacity: 0.5;
  margin-left: 0.313rem;
}

.infoContainer {
  display: flex;
  align-items: center;
}

.icon {
  width: 1rem;
  margin-right: 1rem;
}

.infoContainer p {
  font-size: 0.938rem;
  opacity: 0.7;
}
