.pageContainer {
  margin: 0 2rem;
}

.header {
  text-align: left;
  font-size: 1.75rem;
  margin: 0;
}

.pageTitle {
  text-align: left;
  font-size: 1.75rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.25rem 2.5rem;
}

.rightSection {
  display: flex;
  align-items: center;
}

.rightSection > div {
  margin-left: 14px;
}
.hidden {
  display: none;
}
.studentTable {
  margin-top: 1rem;
}

.filterTag {
  margin-left : 2rem;
  margin-top : 0.5rem;
}

.filterBox {
  width: 6rem;
  height : 1.5rem;
  border-radius: 4px;
  border-width: 1.25px;
}