.detailContainer {
  width: 95%;
  margin: auto;
}

.employeeInfoContaner{
  display:flex;
  gap: 20px;
  justify-content: center;
  white-space: pre-line;
  margin-left: 7%;
  margin-right: 7%;
  height: 340px;
  justify-content: space-between;
}

.employeeContact, .employeeHours {
  line-height: 200%;
  margin-top: -40px;
  gap: 10px;
}


.userDetail,
.employeeStatistics {
  display: flex;
  flex-direction: row;
  flex: 1 1 0px;
  width: 100%;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0.25rem 2.2rem rgba(0, 0, 0, 0.1);
  padding:  3rem; /*1.875rem*/
  height: 110%;
}

.pageDivTitle {
  text-align: left;
  font-size: 1.75rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.25rem 2.5rem;
  font-weight: bold;
}

.header {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 1.75rem;
  margin-bottom: 0;
  margin-left: -28px;
}

.chevronLeft {
  margin-right: 4px;
}

.profilePic {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}

.basicInfoContainer {
  justify-self: left;
  margin-left: 3rem;
  width: 100%;
}

.basicInfoTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.name {
  font-size: 1.56em;
  display: inline-block;
  font-weight: bold;
}

.netId {
  font-size: 0.938em;
  margin-left: 0.625rem;
  display: inline-block;
  color: #595959;
}

.trashIcon {
  width: 1.25rem;
  height: auto;
}

.editIcon {
  max-width: 100%;
  max-height: 100%;
}

.deleteButton {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.7rem;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.edit {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.7rem;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.userEditContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contactInfoContainer,
.riderContactInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 0.8rem;
  flex-wrap: wrap;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-right: 4.5rem;
}

.contactIcon {
  width: 1.1rem;
  margin-right: 1rem;
}

.contactText {
  font-size: 1em;
  display: inline-block;
}

.otherInfoContainer {
  border-top: ridge;
  padding-top: 3%;
  margin-top: 3%;
}

.rider {
  margin: 0 2.5rem;
}

.userDetailHeader {
  font-size: 1.125rem;
}

.statisticsContainer,
.pastRidesContainer {
  margin-top: 0rem;
}

.employeeStatistics {
  margin-top: 0.5rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top:-0px;
}

.noContentText {
  text-align: center;
  margin-top: 1rem;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom:30px;
  row-gap: 20px;
}

.statistic {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  line-height: 1.5; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; /* or center if you want it centered horizontally */
  gap: 30px;
}

.stat {
  font-size: 1.875rem;
  font-weight: bold;
  margin: 0;
  justify-content: center;
}

.statDescription {
  margin-left: 0.75rem;
  justify-content: center;

}

.statIcon {
  width: 3.313rem;
  object-fit: contain; /* or try 'cover' depending on your images */
  display: block; 

}

.statsHrs {
  font-size: 0.8rem;
  font-weight: 400;
}

.todayRideContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 7%;
  margin-left: 7%;
  margin-right: 7%;
  background-color: white;
  box-shadow: 0 0.25rem 2.2rem rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-indent: 90%;
  padding-top: 25px;
  gap: 0px;
} 

@media (max-width: 768px) {
  .userDetail {
    flex-direction: column;
    position: relative;
  }

  .basicInfoContainer {
    margin: 0;
  }

  .userEditContainer {
    position: absolute;
    top: 1.125rem;
    right: 3rem;
  }

  .rider {
    margin: 0 0.5rem;
  }
}
