.detailContainer {
  width: 95%;
  margin: auto;
}

.userDetail, .employeeStatistics {
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0.25rem 2.2rem rgba(0, 0, 0, 0.1);
  padding: 2% 3.5%;
}

.userDetail {
  margin-top: 6rem;
}

.profilePic {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}

.basicInfoContainer { 
  justify-self: left;
  margin-left: 3rem;
  width: 100%;
}

.basicInfoTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nameInfoContainer {
  width: 50%;
}

.name {
  font-size: 1.56em;
  display: inline-block;
  font-weight: bold;
}

.netId {
  font-size: 0.938em;
  margin-left: 3%;
  display: inline-block;
  color: #707070;
}

.userEditContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contactInfoContainer, .riderContactInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 0.8rem;
  flex-wrap: wrap;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-right: 5%;
}

.contactIcon {
  width: 1.1rem;
  margin-right: 1rem;
}

.contactText {
  font-size: 1em;
  display: inline-block;
}

.otherInfoContainer {
  border-top: ridge;
  padding-top: 3%;
  margin-top: 3%;
}

.rider {
  margin: 0 2.5rem;
}

.userDetailHeader {
  font-size: 1.125rem;
}

.statisticsContainer, .pastRidesContainer {
  margin-top: 5rem;
}

.employeeStatistics {
  margin-top: 0.5rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.noContentText {
  text-align: center;
  margin-top: 1rem;
}

.statsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
}

.statistic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 1.1;
}

.stat {
  font-size: 1.875rem;
  font-weight: bold;
  margin: 0;
}

.statDescription {
  margin-left: 0.75rem;
}

.statIcon {
  width: 3.313rem;
  height: auto;
}

.statsHrs {
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 0.25rem;
}
