.userDetail {
  width: 90%;
  display: inline-block;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.1);
  margin-left: 5%;
}

.imgContainer {
  margin: 2% 2% 3% 3%;
  display: inline-block;
  width: 12%;
}

.profilePic {
  background-color: #dddddd;
  width: 90%;
  height: auto;
  display: inline-block;
}

.basicInfoContainer {
  position: relative;
  width: 80%;
  display: inline-block;
  margin-left: 2%;
  padding-top: 2%;
  margin-bottom: 3%;
  vertical-align: top;
}

.name {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2%;
}

.netId {
  display: inline-block;
  font-size: 15px;
  opacity: 0.5;
  margin-left: 3%;
}

.edit {
  position: absolute;
  display: inline-block;
  top: 2%;
  right: 0;
  width: 60px;
}

.otherInfoContainer {
  display: inline-block;
  width: 100%;
  background: rgba(226, 240, 251, 0.2);
  border-top: ridge;
  padding-top: 30px;
}
