.userDetail {
  width: 96%;
  display: inline-block;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0.25rem 2.2rem rgba(0, 0, 0, 0.1);
  margin-left: 2%;
  margin-top: 8%;
}

.imgContainer {
  display: inline-block;
  padding: 2rem;
}

.profilePic {
  display: inline-block;
  object-fit: cover;
  height: 8rem;
  width: 8rem;
}

.basicInfoContainer {
  position: relative;
  width: 80%;
  display: inline-block;
  margin-left: 2%;
  padding-top: 2%;
  margin-bottom: 3%;
  vertical-align: top;
}

.name {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 2%;
}

.netId {
  display: inline-block;
  font-size: 0.938rem;
  opacity: 0.5;
  margin-left: 3%;
}

.edit {
  position: absolute;
  display: inline-block;
  top: 2%;
  right: 0;
  width: 3.75rem;
}

.contactInfoContainaer {
  display: inline-block;
  width: 100%;
  border-top: ridge;
}

.contactInfo {
  display: inline-block;
  width: fit-content;
  margin-right: 5%;
}

.contactIcon {
  width: 1rem;
  margin-right: 1rem;
}

.contactText {
  font-size: 1rem;
  display: inline-block;
}

.otherInfoContainer {
  border-top: ridge;
  padding-top: 3%;
  margin-top: 3%;
}
