.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 370px;
  min-height: 340px;
  margin-left: -89px;
  transform:translateY(-50%);
  z-index: 100000;
}

.title {
  margin: 0 0 16px;
  font-style: normal;
  font-size: 16px;
}

.body{
  position: relative;
  padding: 25px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.2);
  font-size: 12px;
}

.modalOptions {
  position:absolute;
  top:15px;
  right:15px;
  display: inline;
}

.close, .cancel {
  cursor: pointer;
  background: none;
  border: none;
  height:16px;
  width:16px;
}

.cancel {
  padding-bottom: 0.1rem;
  margin-right: 0.7rem;
}

.close:focus, .cancel:focus {
  outline: none;
}

.bar {
  margin-top: 16px;
}

.row {
  display: flex;
}

.column {
  line-height: 32px;
  width: 155px;
  padding: 5px;
}

.column2 {
  width: 30px;
}

.center {
  flex: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  border-top: 1px solid #a5a5a5;
  border-radius: 1px;
  margin: 16px 0;
}

.footer {
    width: 320px;
}

.location {
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.tag {
  border-radius: 5px;
  padding: 0.313rem;
}
.ctown {
  background-color: #d5f2ea;
}

.west {
  background-color: #ffd8de;
}

.central {
  background-color: #fce4ab;
}

.north {
  background-color: #fcc999;
}

.dtown {
  background-color: #b0d7f9;
}
