.cell {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.passInfo {
  background-color: #fff;
}

.firstCell {
  border-radius: 0.938rem 0 0 0.938rem;
}

.lastCell {
  border-radius: 0 0.938rem 0.938rem 0;
}

.reducedTag {
  height: 11px;
  width: 11px;
  float: left;
  margin: 6px 7px 0px 0px;
  border-radius: 50%;
}

.tag {
  border-radius: 0.625rem;
  padding: 0.313rem;
}

.ctown {
  background-color: #d5f2ea;
}

.dtown {
  background-color: #66b4f8c1;
  ;
}

.north {
  background-color: #FFFF99;
}

.west {
  background-color: #bc6bd995;
  ;
}

.south {
  background-color: #ff983883;
}

.central {
  background-color: #ffce5c97;
}

.custom {
  background-color: #fadadd;
}

.inactive {
  background-color: #ECECEC;
}

Button {
  position: relative;
}