.cell {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.passInfo {
  background-color: #fff;
}

.firstCell {
  border-radius: 0.938rem 0 0 0.938rem;
}

.lastCell {
  border-radius: 0 0.938rem 0.938rem 0;
}

.tag {
  border-radius: 0.625rem;
  padding: 0.313rem;
}
.ctown {
  background-color: #d5f2ea;
}

.west {
  background-color: #ffd8de;
}

Button {
  position: relative;
}
