name: CI-Backend
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - name: NPM Install
        run: cd functions/ && npm install
      - name: Add dummy service account key
        run: echo '{}' > functions/serviceAccountKey.json
      - name: Run Linter
        run: cd functions/ && npm run lint
