name: Continuous Deployment to Staging

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: context
        uses: okteto/context@latest
        with:
          token: ${{ secrets.OKTETO_TOKEN }}

      - name: 'Activate Namespace'
        uses: okteto/namespace@latest
        with:
          namespace: pratyush1712

      - name: 'Trigger the pipeline'
        uses: okteto/pipeline@latest
        with:
          name: carriage-web
          timeout: 30m
          variables:
            'AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }},
            AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }},
            JWT_SECRET=${{ secrets.JWT_SECRET }},
            PUBLIC_VAPID_KEY=${{ secrets.PUBLIC_VAPID_KEY }},
            PRIVATE_VAPID_KEY=${{ secrets.PRIVATE_VAPID_KEY }},
            WEB_PUSH_CONTACT=${{ secrets.WEB_PUSH_CONTACT }},
            IOS_DRIVER_ARN=${{ secrets.IOS_DRIVER_ARN }},
            IOS_RIDER_ARN=${{ secrets.IOS_RIDER_ARN }},
            ANDROID_ARN=${{ secrets.ANDROID_ARN }},
            HOSTNAME=${{ secrets.HOSTNAME }},
            USE_HOSTNAME=${{ secrets.USE_HOSTNAME }},
            REACT_APP_SERVER_URL=${{ secrets.REACT_APP_SERVER_URL }},
            REACT_APP_CLIENT_ID=${{ secrets.REACT_APP_CLIENT_ID }},
            REACT_APP_PUBLIC_VAPID_KEY=${{ secrets.REACT_APP_PUBLIC_VAPID_KEY }},
            REACT_APP_ENCRYPTION_KEY=${{ secrets.REACT_APP_ENCRYPTION_KEY }},
            DOMAIN=${{ secrets.DOMAIN }}'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          push: true
          build-args: |
            REACT_APP_SERVER_URL=${{ secrets.REACT_APP_SERVER_URL }}
            REACT_APP_CLIENT_ID=${{ secrets.REACT_APP_CLIENT_ID }}
            REACT_APP_PUBLIC_VAPID_KEY=${{ secrets.REACT_APP_PUBLIC_VAPID_KEY }}
            REACT_APP_ENCRYPTION_KEY=${{ secrets.REACT_APP_ENCRYPTION_KEY }}
          tags: dticarriage/carriage-service:latest
