name: Continuous Deployment of Master

on:
  push:
    branches: [master, bek76/docker-ci]

jobs:
  deploy:
    uses: ./.github/workflows/docker-build-push.yml
    with:
      push: true
      tags: |
        ghcr.io/${{ github.repository_owner }}/${{ github.repository }}:latest
        ghcr.io/${{ github.repository_owner }}/${{ github.repository }}:${{ github.sha }}
    secrets: inherit
