name: Continuous Deployment to Staging

on:
  push:
    branches: [master]

jobs:
  deploy:
    uses: ./.github/workflows/docker-build-push.yml
    with:
      push: true
      tags: dticarriage/carriage-service:latest
      registry: docker.io
    secrets:
      inherit: true
      username: ${{ secrets.DOCKERHUB_USERNAME }}
      password: ${{ secrets.DOCKERHUB_TOKEN }}
