name: CI Build
on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - name: Install Dependencies
        run: npm install --production
      - name: Build Frontend
        run: npm run build:frontend
      - name: Build Server
        run: npm run build:server
