name: CI Build
on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: '20.x'
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Build Frontend
        run: CI='' pnpm run build:frontend
      - name: Build Server
        run: CI='' pnpm run build:server
