name: CI Backend Test
on:
  pull_request:
    paths: ['server/**']

jobs:
  run-tests:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      PUBLIC_VAPID_KEY: ${{ secrets.PUBLIC_VAPID_KEY }}
      PRIVATE_VAPID_KEY: ${{ secrets.PRIVATE_VAPID_KEY }}
      WEB_PUSH_CONTACT: 'mailto:carriagedti@gmail.com'
      IOS_DRIVER_ARN: ${{ secrets.IOS_DRIVER_ARN }}
      IOS_RIDER_ARN: ${{ secrets.IOS_RIDER_ARN }}
      ANDROID_ARN: ${{ secrets.ANDROID_ARN }}
      HOSTNAME: ${{ secrets.HOSTNAME }}
      USE_HOSTNAME: ${{ secrets.USE_HOSTNAME }}
      EMAIL: ${{ secrets.EMAIL }}
      DOMAIN: ${{ secrets.DOMAIN }}
    steps:
      - uses: actions/checkout@master
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'
      - name: Install Server Dependencies
        run: npm run install:server
      - name: Test Server
        run: npm run test:server
