name: CI Docker Build

on: pull_request

jobs:
  build:
    permissions:
      contents: read
      packages: write

    uses: ./.github/workflows/docker-build-push.yml
    with:
      push: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
      tags: |
        ghcr.io/${{ github.repository_owner }}/${{ github.repository }}/pr-${{ github.event.pull_request.number }}:latest
        ghcr.io/${{ github.repository_owner }}/${{ github.repository }}/pr-${{ github.event.pull_request.number }}:${{ github.sha }}
      labels: |
        org.opencontainers.image.source=${{ github.event.pull_request.html_url }}
        org.opencontainers.image.title=PR-${{ github.event.pull_request.number }}
        org.opencontainers.image.description=${{ github.event.pull_request.title }}
    secrets: inherit
