name: CI Run Test Suites
on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      PUBLIC_VAPID_KEY: ${{ secrets.PUBLIC_VAPID_KEY }}
      PRIVATE_VAPID_KEY: ${{ secrets.PRIVATE_VAPID_KEY }}
      WEB_PUSH_CONTACT: '${{ secrets.WEB_PUSH_CONTACT }}'
      IOS_DRIVER_ARN: ${{ secrets.IOS_DRIVER_ARN }}
      IOS_RIDER_ARN: ${{ secrets.IOS_RIDER_ARN }}
      ANDROID_ARN: ${{ secrets.ANDROID_ARN }}
      HOSTNAME: ${{ secrets.HOSTNAME }}
      USE_HOSTNAME: ${{ secrets.USE_HOSTNAME }}
      EMAIL: ${{ secrets.EMAIL }}
      DOMAIN: ${{ secrets.DOMAIN }}
      REACT_APP_CLIENT_ID: ${{ secrets.REACT_APP_CLIENT_ID }}
      REACT_APP_PUBLIC_VAPID_KEY: ${{ secrets.PUBLIC_VAPID_KEY }}
      REACT_APP_ENCRYPTION_KEY: ${{ secrets.REACT_APP_ENCRYPTION_KEY }}
    steps:
      - run: echo $WEB_PUSH_CONTACT
      - uses: actions/checkout@master
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'
      - name: Install Dependencies
        run: npm install
      - name: Test Server
        run: npm run test:server
