name: Docker Build and Push

on:
  workflow_call:
    inputs:
      push:
        description: 'Whether to push the image'
        required: true
        type: boolean
      tags:
        description: 'Image tags to apply'
        required: true
        type: string
      labels:
        description: 'Optional image labels'
        required: false
        default: ''
        type: string
      registry:
        description: 'Registry URL (optional)'
        required: false
        type: string
    secrets:
      username:
        description: 'Registry password (optional)'
        required: false
      password:
        description: 'Registry password (optional)'
        required: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ inputs.username }}
          password: ${{ inputs.password }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          push: ${{ inputs.push }}
          tags: ${{ inputs.tags }}
          labels: ${{ inputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            REACT_APP_SERVER_URL=${{ secrets.REACT_APP_SERVER_URL }}
            REACT_APP_CLIENT_ID=${{ secrets.REACT_APP_CLIENT_ID }}
            REACT_APP_PUBLIC_VAPID_KEY=${{ secrets.REACT_APP_PUBLIC_VAPID_KEY }}
            REACT_APP_ENCRYPTION_KEY=${{ secrets.REACT_APP_ENCRYPTION_KEY }}
            REACT_APP_GOOGLE_MAPS_API_KEY=${{ secrets.REACT_APP_GOOGLE_MAPS_API_KEY }}
            REACT_APP_GOOGLE_MAPS_MAP_ID=${{ secrets.REACT_APP_GOOGLE_MAPS_MAP_ID }}
